{% extends 'util/layout.twig' %}
{% block title %}connexion{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
<form action="/login" class="row g-3" method="POST" >
  <h4>connexion</h4>
  <div class="col-8">
    <label for="username">Email</label>
    <input class="form-control" type="email" id="username" name="username" placeholder="Email" required>
  </div>
  <div class="col-8">
    <label for="password">Mot de passe</label>
    <input class="form-control" type="password" id="password" name="password" placeholder="Mot de passe" required>
  </div>
  <div class="col-8">
    <button type="submit" class="btn btn-dark float-end">Se connecter</button>
  </div>
</form>
</div>
{% endblock %}